//Mobile
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0;
  @include tablet {
    align-items: center;
    flex-direction: row;
    height: 340px;
    left: 20%;
    position: relative;
  }
}
.logo {
  display: flex;
  width: auto;
  margin: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

  img {
    max-width: 100%;
  }
}
.img-change {
  width: 128px;
}

.choose {
  margin-bottom: 1rem;
  font-size: 13px;
}
select {
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
  background-color: #000000;
  opacity: 100%;
  border: 0;
  appearance: none;
}

// Tablet

@include tablet {
  //   .container {
  //     display: flex;
  //     align-items: center;
  //     flex-direction: row;
  //     height: 340px;
  //     left: 20%;
  //     position: relative;
  //   }
  .logo {
    margin-left: 0;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    flex-basis: 20%;
    max-width: 100%;
    margin: 0;
  }
  .logo img {
    max-width: auto;
    height: auto;
  }
  .choose {
    font-size: 14px;
  }
  .img-change {
    width: 67px;
    margin-top: 0rem;
  }
  .dropdown-change {
    margin-bottom: 1rem;
  }
  .container-change {
    height: 72px;
    transition-duration: 2s;
    align-items: start;
  }
  .logo-change {
    text-align: left;
    flex-basis: 13.5%;
  }
}
@include desktop {
  .container {
    justify-content: left;
    left: 0;
  }
  .logo {
    justify-content: left;
  }
  .choose {
    font-size: 16px;
  }
}
