// .no-js .loader { display: none;  }
// .js .loader { display: block; position: absolute; left: 100px; top: 0; }
.loader {
    display: none;
    position: fixed;
    width: 30px;
    left: 50%;
    top: 50% ;
	z-index: 99;
    background: url(/images/ajax-loader.gif) center no-repeat;

}